*{
    font-family: 'Roboto', sans-serif;
}
.main-menu{
    background-color: #FFFBF0;
}
p{
    color: #3E3E3E;
}
.header-bg{
    background-color: #FFFBF0;
}
.penguin-banner,
.contact-area{
    margin-top: 65px;
}
.single-link{
    color: #3C3C3C;
    font-weight: 700;
}
.single-item{
    padding: 0 20px;
}
.single-link:hover,.active-link{
    color: #A4B54D;
}
.menu-bars i{
    color: #373A58;
    font-size: 25px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.highlight-1,
.highlight-2{
    font-size: 70px;
    letter-spacing: -4px;
    text-transform: uppercase;
    font-weight: 700;
}
.highlight-1{
    color: #FABE4C;
}
.highlight-2,
.product-header{
    color: #363958;
}
.product-header{
    letter-spacing: -2px;
    font-weight: 700;
    text-transform: uppercase;
}
.title-card,
.contact-header{
    color: #363958;
    font-weight: 700;
}
a i{
    margin-right: 7px;
}
.buy-button{
    background-color: #9BB439;
    text-transform: uppercase;
    font-size: 17px;
    padding: 15px 30px;
    border: 2px solid #9BB439;
    color: white;
}
.buy-button:hover{
    background-color: #FFFBF0;
    color: #9BB439;
    border: 2px solid #9BB439;
}
.product-bg{
    background-color: #F1F1F1;
}
.product-bg img{
    padding: 20px 0;
}
.product-price{
    color: #FABE4C;
    font-weight: 700;
    font-size: 35px;
}
.card-shadow{
    box-shadow: 5px 10px 18px #c5c5c5;
    padding: 10px;
}
footer{
    text-align: center;
    margin-top: 150px;
}
@media all and (max-width: 768px) {
	.banner-left{
        margin-bottom: 40px;
    }
}